.topbarIconWrapper {
  padding: 10px 0 10px 20px;
}

.filterIconDiv,
.searchIconDiv {
  display: none;
}

.topbarIconDiv {
  padding: 4px 8px;
  background-color: rgba(140, 140, 140, 0.1);
  border-radius: 16px;
}

.topbarIconWrapper.selected .topbarIconDiv {
  background-color: rgba(140, 140, 140, 0.2);
}

.topbarIconDiv svg {
  width: 20px;
}

@media (max-width:1280px) {
  .filterIconDiv {
    display: block;
  }
}

@media (max-width:1024px) {
  .topbarIconWrapper {
    padding: 4px 0 4px 12px;
  }

  .searchIconDiv {
    display: block;
  }
}