.cardDiv {
  position: relative;
  text-align: center;
  font-size: 14px;
}

.cardImgDiv {
  display: inline-block;
  position: relative;
}

.cardImg {
  width: 250px;
  border-radius: 100%;
  padding: 8px;
  border: 2px solid var(--todo);
  transition: padding var(--transition),
    border var(--transition);
}

.cardImgDiv {
  &:hover {
    .cardImg {
      padding: 0px;
      border: 2px solid rgba(139, 139, 139, 0.8);
    }

    .checkbox {
      border: 2px solid rgba(139, 139, 139, 0.8);
    }
  }
}

.cardImgDiv.completed {
  .cardImg {
    border: 2px solid var(--completed);
  }

  .checkbox {
    border: 4px solid var(--surface-secondary);
  }
}

.checkbox {
  position: absolute;
  top: 9.5%;
  right: 9.5%;
  z-index: 10;
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--todo);
  border-radius: 50%;
  display: grid;
  place-content: center;
  background-color: var(--background);
}

.checkbox:checked {
  top: 7.5%;
  right: 7.5%;
  width: 30px;
  height: 30px;
  border: 6px solid var(--surface-secondary);
  background-color: var(--completed);
}

.checkbox::before {
  content: "";
  width: 12px;
  height: 12px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: var(--background);
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox:checked::before {
  transform: scale(1);
}

.cardTitle {
  font-family: var(--font-heading);
  font-weight: 800;
  margin: 8px 0;
  font-size: 20px;
}

.cardDate {
  margin-top: 4px;
  color: var(--completed);
}