.topBar {
  display: flex;
  align-items: center;
  gap: 1px;
  justify-content: space-between;
  width: 100%;
  padding: 16px 100px;
  border-bottom: 1px solid var(--border-color);
}

@media (max-width:1024px) {
  .topBar {
    padding: 8px;
    align-items: center;
    justify-content: space-around;
  }
}