/* Aliya */
@font-face {
  font-family: 'Aliya';
  src: url('/src/assets/fonts/Aliya-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Poynter Oldstyle Text */
@font-face {
  font-family: 'Poynter Oldstyle Text';
  src: url('/src/assets/fonts/PoynterOS/PoynterOldstyleText-Roman.woff2') format('woff2'),
    url('/src/assets/fonts/PoynterOS/PoynterOldstyleText-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Source Sans 3 */
@font-face {
  font-family: 'Source Sans 3';
  src: url('/src/assets/fonts/SourceSans3/source-sans-3-latin-400-normal.woff2') format('woff2'),
    url('/src/assets/fonts/SourceSans3/source-sans-3-latin-400-normal.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
