.heroDiv {
  background-image: url('/hero-large.jpg');
  background-position-x: right;
  background-position-y: top;
  background-size: cover;
  padding: 48px 100px;
}

.heroContent {
  max-width: 760px;
  text-shadow: 1px 0 1px white;
  color: var(--text);
}

.heroEyebrow {
  font-size: 0.95rem;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  margin-top: 1rem;
}

.heroTitle {
  font-family: var(--font-heading);
  font-size: clamp(3.8rem, 8vw, 6rem);
  font-weight: normal;
  margin-top: 60px;
}

.heroStatsDiv {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 8rem;
  padding-left: 24px;
}

.heroStat {
  display: flex;
  flex-direction: column;
  color: var(--text-inv);
  text-shadow: 1px 0 1px black;
}

.heroStat span {
  font-family: var(--font-heading);
  font-size: 2.2rem;
}

.heroStat small {
  margin-top: .35rem;
  text-transform: uppercase;
  letter-spacing: .12em;
  font-weight: bold;
}

.heroDivider {
  width: 1px;
  height: 50px;
  background: rgba(128, 128, 128, 0.5);
}

.progressContainer {
  width: 100%;
  background-color: var(--background);
  border-radius: 6px;
  overflow: hidden;
  margin-top: 1rem;
}

.progressBar {
  height: 16px;
  border-radius: 6px;
  background-color: var(--text);
  transition: width 0.4s ease;
}

@media (max-width:1280px) {
  .heroDiv {
    background-image: url('/hero-medium.jpg');
  }

  .heroDiv {
    padding: 16px;
  }

  .heroContent {
    width: 70%;
  }

  .heroTitle,
  .heroDescription,
  .heroStats {
    margin-top: 1rem;
  }

  .heroStatsDiv {
    margin-top: 6rem;
  }

  .heroTitle {
    font-size: 3.4rem;
  }

  .heroDescription {
    font-size: 1.05rem;
  }

  .heroStats {
    gap: 1.5rem;
  }
}

@media (max-width:1024px) {
  .heroDiv {
    background-image: url('/hero-small.jpg');
  }

  .heroStatsDiv {
    margin-top: 4rem;
  }
}